/* 
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
} */
/* new-navbar */
.navbar {
  background-color: #c63939;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  padding: 10px 20px;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
  }

  .nav-item {
    padding: 10px;
  }
}

/* done new navbar */

/* @media (max-width: 480px) {

  .navbar{
  display: flexbox;
  .logo-image
  }
} */

@media only screen and (max-width: 480px) {
  .NavBar{
      font-size: 8px;
  }
}


/* body,
input {
  font-family: Georgia, serif;
  /* font-size: 20px; */
  
  /* font-size: 100%;
} */ */

.logo-image {
  width: 300px;
  overflow: hidden;
}

/* .NavBar {
display: flex;
 position: fixed;
 top: 0;
 left: 0;
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius:0px;
  box-shadow: 0px 10px 15px white;
 font-size: 2em;
 text-decoration: none;
  z-index: 2;
  justify-content: space-evenly;

} */



/* .form-group { */
/* display: block;
  align-items: center;
  justify-content: center;
  color: #070707;
  font-size: 12px;
  width: 300vw;
  height: auto;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 10px;
  z-index: 1; 

}  */


/* .change {

  padding-top:8px;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(173, 173, 218);
  color: rgb(22, 3, 39);
  margin-right: 200px;
 
}  */





h1 {
 position: sticky;
  width: auto;
  height: 50vw;
  margin-top: 100px;
  color: white;
  margin-left: 20px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  z-index: 2;

  /* overflow: hidden; 
  position: relative;
  transition: transform 0.3s;
  margin: 10px;  
  gap: 10px;
  float: left; */




  
}

.home1{
display: block;
margin-top: 200px;


}
/* sign up */
.reg1{

position: relative;
margin-left: 750px;
margin-top: 00px;
width: 300px;
height: 350px;
align-items: center;
padding-left: 30px;
padding-right: 0px;
padding-top: 30px;
padding-bottom: 30px;
background-color: aqua;
border-radius: 10px;
color: #201b1b;
border-radius: 6px;
z-index: 4;
box-shadow: 0px 4px 8px rgba(74, 199, 159, 0.5);
} 

input[type="text"],
input[type="password"],
input[type="email"]{ 
display: flex;
flex-direction: column;
width: 250px;
height: 30px;
padding: 5px;
margin-bottom: 15px;
margin-top: 0px;
border: 2px solid #0b0b0b;
font-size: 14px;
border-radius: 6px;
}
    
[type="submit"]{
color: rgb(244, 250, 248);
width: 250px;
height: 30px;
background-color: #060606;
border-radius: 6px;
border: 2px solid #050404;
cursor: pointer;
}
/* sign up done */



/* .booksListContainer {
  margin-top: 150px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 878px;
  height: 600px;
  position: relative;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  row-gap: 100px;

} */

/* .pp{
  
    width: 300px;
    height: 400px;
    margin: 10px; 
    background-color: #daf844;
    border: 5px solid #636363;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(172, 172, 172, 0.5); 
    overflow: hidden; 
    position: relative; 
    transition: transform 0.3s;
    font-size: 10px;
    
}  */

/* 
.pp:hover {
  transform: translateY(
    -10px
  ); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 2);
 
} */

/* .bookSearchContainer{
background-color: #cfacac;

} */

.loadBooks{
display: grid;
background-color: green;
border-radius: 10px;
width: 200px;
height: 100px;
margin-top: 00px;
font-size: 20px;
color: white;
align-items: center;
cursor: pointer;
}

/* .booksListContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
margin-top: 400px;
color: blue;

-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
} */



.books{
  height:500px;
  width: 500px;
  margin-left: 50px; 
  margin-top: 70px;
  background-color: #c8c9d0;
  border: 5px solid #636363;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(172, 172, 172, 0.5); 
  overflow: hidden; 
  position: relative; 
  transition: transform 0.3s;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}


.books:hover {
transform: translateY(
  -10px
); 
box-shadow: 0 8px 16px rgba(0, 0, 0, 2);

}


.img{
  padding-top: 20px;
  width:auto;
  height: 40%;
}


p1{
  font-size: 20px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color:#1539e9;
  
}

p2{
  font-size: 18px;
  color:rgb(2, 66, 82);
  font-family: Arial, Helvetica, sans-serif;

}

p3{
  font-size: 16px;
  color:green;
  font-family: Arial, Helvetica, sans-serif;
}

[type="button"]{
  margin-top: 15px;
  color: rgb(244, 250, 248);
  width: 250px;
  height: 30px;
  background-color: #060606;
  border-radius: 6px;
  border: 2px solid #050404;
  text-transform: uppercase;
  cursor: pointer;
  }






  .book-card {
    /* display: flex;
flex-wrap: ; */
  width: 220px; 
  height: 200px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(28, 16, 16, 0.5); 
  border-radius: 8px;
  padding: 10px;
  overflow: hidden; 
  display: grid;
  position: relative;
  /* transition: transform 0.3s; */

  margin: 10px;  
  float: left;
  cursor: pointer;
  
}

.book-card:hover {
  transform: translateY(
    -10px
  ); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
  
}


.book-card td {
  padding: 8px;
  color: #bf8027;
  padding-left: 10px;
}

.title{
  text-transform: uppercase;
  padding-top: 10px;
  font-weight: bolder;
  color: #1f1fe4;
  font-size: 14px;
  text-align: center;
}

.author{
  padding-top: 10px;
  font-weight: bolder;
  color: #408dd5;
  font-size: 16px;
  text-align: center;
}

.YN {
  padding-top: 10px;
  color: #f33d29;
  text-align: center;
}

/* .B { */
  /* padding-top: 10px;
  color: white; 
  text-decoration: none;
  font-size: 16px;
  background-color: #050404;
  border-radius: 5px;
  margin-top: px;
  cursor: pointer;
 
text-decoration: none;
align-items: center;
  width:150px;
  height: 40px;
  background-color: black;

  border-radius: 6px; */
  /* cursor: pointer;
} */



/* login */

.form-group1{

  position: relative;
  margin-left: 750px;
  margin-top: 00px;
  width: 300px;
  height: 200px;
  align-items: center;
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: aqua;
  border-radius: 10px;
  color: #201b1b;
  border-radius: 6px;
  z-index: 4;
  box-shadow: 0px 4px 8px rgba(74, 199, 159, 0.5);
  } 
  
  input[type="Username (email)"],
  input[type="password"]{ 
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 30px;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: 0px;
  border: 2px solid #0b0b0b;
  font-size: 14px;
  border-radius: 6px;
  }
      
  [type="submit"]{
  color: rgb(244, 250, 248);
  width: 260px;
  height: 40px;
  background-color: #060606;
  border-radius: 6px;
  border: 2px solid #050404;
  cursor: pointer;
  }

  /* login end */