/* navbar */

.navbar {
  /* The image used */
  background-image: url("./assets/old-books.jpg");
  position: fixed;
  overflow: hidden;
  min-height: 500px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
  z-index: 0;
}
/* Position the navbar container inside the image */
.cont {
  position: absolute;
  margin: 0px;
  width: auto;
}

/* The navbar */
.nav-menu {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: fixed; /* Fixed position to stick on top */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000; /* Ensure it's above other content */
}

/* Navbar links */
.nav-menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav-menu a:hover {
  background-color: #ddd;
  color: black;
}

/* end navbar */

/* library app */
.app {
  display: flex;
  position: relative;

  color: white;
  z-index: 1;
  font-size: 60px;
  margin-top: -89px;
  margin-left: 20px;
}
/* end library app */

/* welcome */
.home1 {
  font-size: 40px;
  text-transform: uppercase;
  color: darkblue;
}
/* end welcome */

/* sign up */
.reg1 {
  position: relative;
  margin-left: 59vw;
  margin-top: -400px;
  width: 300px;
  height: 350px;
  align-items: center;
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: aqua;
  border-radius: 10px;
  color: #201b1b;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(74, 199, 159, 0.5);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 30px;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: 0px;
  border: 2px solid #0b0b0b;
  font-size: 14px;
  border-radius: 6px;
}

[type="submit"] {
  color: rgb(244, 250, 248);
  width: 250px;
  height: 30px;
  background-color: #060606;
  border-radius: 6px;
  border: 2px solid #050404;
  cursor: pointer;
}
/* sign up done */

.loadBooks {
  display: grid;
  background-color: green;
  border-radius: 10px;
  width: 200px;
  height: 100px;
  margin-top: 00px;
  font-size: 20px;
  color: white;
  align-items: center;
  cursor: pointer;
}

/* added to accommodate filter buttons */
.filterBooks {
  display: grid;
  background-color: rgb(158, 232, 158);
  border-radius: 10px;
  width: 20vw;

  height: auto;
  margin-top: 20px;
  margin-left: 225px;
  font-size: 20px;
  color: white;
  align-items: center;
  cursor: pointer;
}

/* single-books */
.books {
  height: 500px;
  width: 500px;
  margin-left: 50px;
  margin-top: 70px;
  background-color: #c8c9d0;
  border: 5px solid #636363;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(172, 172, 172, 0.5);
  overflow: hidden;
  position: relative;

  transition: transform 0.3s;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.books:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 2);
}

.img {
  padding-top: 20px;
  width: auto;
  height: 40%;
}

p1 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #1539e9;
}

p2 {
  font-size: 18px;
  color: rgb(2, 66, 82);
  font-family: Arial, Helvetica, sans-serif;
}

p3 {
  font-size: 16px;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

[type="button"] {
  margin-top: 15px;
  color: rgb(244, 250, 248);
  width: 250px;
  height: 30px;
  background-color: #060606;
  border-radius: 6px;
  border: 2px solid #050404;
  text-transform: uppercase;
  cursor: pointer;
}

/* end single-books */

/* list of the books */
.book-card {
  /* display: flex;
flex-wrap: ; */
  width: 220px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(28, 16, 16, 0.5);
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
  display: grid;
  position: relative;
  /* transition: transform 0.3s; */

  margin: 10px;
  float: left;
  cursor: pointer;
}

.book-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
}

.book-card td {
  padding: 8px;
  color: #bf8027;
  padding-left: 10px;
}

.title {
  text-transform: uppercase;
  padding-top: 10px;
  font-weight: bolder;
  color: #1f1fe4;
  font-size: 14px;
  text-align: center;
}

.author {
  padding-top: 10px;
  font-weight: bolder;
  color: #408dd5;
  font-size: 16px;
  text-align: center;
}

.YN {
  padding-top: 10px;
  color: #f33d29;
  text-align: center;
}

.details {
  margin-top: 15px;
  color: rgb(244, 250, 248);
  width: 200px;
  height: 30px;
  background-color: #e5d9d9;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  padding: 5px 5px 5px 5px;
  text-decoration: underline;
}

/* login */

.form-group1 {
  position: relative;
  margin-left: 1000px;
  margin-top: -340px;
  width: 300px;
  height: auto;
  align-items: center;
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: aqua;
  border-radius: 10px;
  color: #201b1b;
  border-radius: 6px;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(74, 199, 159, 0.5);
}

input[type="Username (email)"],
input[type="password"] {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 30px;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: 0px;
  border: 2px solid #0b0b0b;
  font-size: 14px;
  border-radius: 6px;
}

[type="submit"] {
  color: rgb(244, 250, 248);
  width: 260px;
  height: 40px;
  background-color: #060606;
  border-radius: 6px;
  border: 2px solid #050404;
  cursor: pointer;
}

/* login end */

/********************************/
/* my work arounds. */

.login1 {
  position: relative;
  display: flex;
  margin-left: 1000px;
  margin-top: -300px;
  width: 300px;
  height: auto;
  border: 1px solid rgb(241, 241, 238);
  border-radius: 10px;
  font-family: raleway;
  background-color: #f8f5f5;
  z-index: 2;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10vh;
}

.user1 {
  position: relative;
  display: flex;
  margin-left: 59vw;
  margin-top: -50px;
  width: 300px;
  height: auto;
  border: 1px solid rgb(13, 13, 12);
  border-radius: 10px;
  font-family: raleway;
  background-color: #f8f5f5;
  z-index: 2;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10vh;
}

.welcome1 {
  position: relative;
  display: flex;
  margin-left: 910px;
  margin-top: -390px;
  margin-right: 20px;
  width: auto;
  height: auto;
  border: 1px solid rgb(236, 236, 227);
  border-radius: 15px;
  font-family: raleway;
  background-color: #f8f5f5;
  opacity: 30;
  z-index: 2;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10vh;
}

.loginError {
  margin: auto;
  color: rgb(22, 22, 122);
}

/***** end work arounds. ****/

.input-icon {
  position: relative;
  font-family: 20px;
  padding-left: 100px;
}

.Search {
  background-color: #1539e9;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.input-icon input {
  padding-left: 30px;
}

/****** ****/
/* for loader */
.loader {
  margin-top: 0px;
  border: 16px solid #cfeec4; /* Light grey */
  border-top: 16px solid #149742; /* Blue */
  border-radius: 250%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
